{% extends "layout.html" %}
{% block title %}Containers{% endblock %}

{% block content %}

{% if 'projects' in containers and containers['projects']|length > 0 %}
  <h2>Projects</h2>
  <div class="panel-group" id="projects" role="tablist" aria-multiselectable="true">
    {% for project in containers['projects'] %}
      <div id="{{ project }}" class="project {{ project }} panel panel-default">
        <div class="panel-heading" role="tab" id="{{ project }}-header">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#projects" href="#{{ project }}-content" aria-expanded="false" aria-controls="{{ project }}-content">
              <span class="caret"></span> {{ project }}
            </a>
          </h4>
        </div>
        <div id="{{ project }}-content" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ project }}-header">
          <div class="panel-body">
            {% for id in containers['projects'][project] %}
              <div{% if containers['projects'][project][id]['State'] == 'running' %} class="service {{ containers['projects'][project][id]['Labels']['com.docker.compose.service'] }} running bg-success"{% else %} class="service {{ containers['projects'][project][id]['Labels']['com.docker.compose.service'] }} not-running bg-danger"{% endif %} style="margin-bottom: 1em; padding: 1em">
                <p class="name">
                  <strong>Name:</strong> {{ containers['projects'][project][id]['Names']|first }}
                  {% if containers['projects'][project][id]['State'] == 'running' and request.args.get("stats") == 'true' %}
                    <span class="badge">CPU: {{ containers['projects'][project][id]['Stats']['cpu'] }}</span>
                    <span class="badge">Memory: {{ containers['projects'][project][id]['Stats']['memory'] }}</span>
                  {% endif %}
                </p>
                <p class="image"><strong>Image:</strong> {{ containers['projects'][project][id]['Image'] }}</p>
                <p class="state"><strong>State:</strong> {{ containers['projects'][project][id]['State'] }}</p>
                <p class="status"><strong>Status:</strong> {{ containers['projects'][project][id]['Status'] }}</p>
                {% if 'io.docksal.virtual-host' in containers['projects'][project][id]['Labels'] %}
                  <p class="virtual-host"><strong>Virtual Host:</strong> {{ containers['projects'][project][id]['Labels']['io.docksal.virtual-host'] }}</p>
                {% endif %}
                {% if 'io.docksal.project-root' in containers['projects'][project][id]['Labels'] %}
                  <p class="project-root"><strong>Project Root:</strong> {{ containers['projects'][project][id]['Labels']['io.docksal.project-root'] }}</p>
                {% endif %}
                {% if containers['projects'][project][id]['Mounts']|length > 0 %}
                  <p class="mounts">
                    <strong>Mounts</strong>
                    <table class="table table-bordered" style="background-color: #fff">
                      <thead>
                        <th>Source</th>
                        <th>Destination</th>
                      </thead>
                      <tbody>
                        {% for mount in containers['projects'][project][id]['Mounts'] %}
                          <tr>
                            <td>{{ mount['Source'] }}</td>
                            <td>{{ mount['Destination'] }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </p>
                {% endif %}
                <div class="btn-group">
                  <a href="{{ url_for('logs', container_id=containers['projects'][project][id]['Id']) }}" class="btn btn-default" target="_blank">Logs</a>
                  <a href="{{ url_for('inspect_container', container_id=containers['projects'][project][id]['Id']) }}" class="btn btn-default" target="_blank">Inspect</a>
                  {% if containers['projects'][project][id]['State'] == 'running' %}
                    <a href="/docker/{{ containers['projects'][project][id]['Id'] }}" class="btn btn-default" target="_blank">cAdvisor</a>
                  {% endif %}
                  <a href="#modal-{{ containers['projects'][project][id]['Id'] }}" class="btn btn-default" data-toggle="modal" data-target="#modal-{{ containers['projects'][project][id]['Id'] }}">Remove</a>
                </div>
                <div class="modal fade" id="modal-{{ containers['projects'][project][id]['Id'] }}" tabindex="-1" role="dialog" aria-labelledby="#modal-{{ containers['projects'][project][id]['Id'] }}-label">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-{{ containers['projects'][project][id]['Id'] }}-label">Modal title</h4>
                      </div>
                      <div class="modal-body">
                        <p>Do you really want to remove {{ containers['projects'][project][id]['Names']|first }}?</p>
                        <p>This action can't be undone.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="{{ url_for('remove_container', container_id=containers['projects'][project][id]['Id']) }}" class="btn btn-primary">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/containers.js') }}"></script>
{% endblock %}
